html {
    font-family: "sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:rgb(191, 191, 207);
}
h1 {
    color: rgb(72, 172, 69);
    font-family: "broadway", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    border-style: solid;
}  
h4 {
    color: rgb(6, 92, 42);
}
img{
    box-shadow: 10px 10px 20px #000;
    border-radius: 4%; 
    object-view-box: inset(0%);
    transition: all 0.75s;   
}
img:hover {
    object-view-box: inset(20%);
}
 .gallery {
    display: flex;
    justify-content: center;
    gap: 0px;
    flex-wrap: wrap;
    margin: 0px 0;
  }